/* Definições Globais de CSS do projeto */

@charset "UTF-8";

* {
	font-family: arial;
}
.box {
  background-color: #e6e3e3;
  border-left: 6px solid red;
  border-radius: 5px;
  padding: 15px; 
  color: #4f4d4d;
  font-size: 17px;
  font-weight: 600;
}
#quem_somos{
  color: #615e5d;
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.nome_pacote{
  color: #333030;
}

.alerta {
  padding: 20px;
  border-left-style: solid;
  border-left-width: 4px;
  margin-bottom: 20px;
}

.alerta p {
  margin: 0 !important;
}

.vermelho {
  background-color: rgba(255, 99, 71, 0.2);
  border-color: Tomato;
  color: rgb(255, 109, 81, 1);
}
.redes-sociais{
  height: 160px;
  width: 100%;
}
.icones {
  width: 80px;
  height: 80px;
  margin-top: 50px;
  margin-right: 20px;

}
footer {
	background-color: rgba(47, 47, 47);
	overflow: hidden;
  height: 145px;
}

.footer-item {
  margin-top: 35px;
  color: white;
  text-align: center;
  width: 100%:
}

.footer-item a{
	color: white;
	text-decoration: none;
}
#negrito{
  text-align: center;
  color: white;
  margin-top: 10px;
}

#index: hover{
  background-color: #de2828;
  color: white !important;
}

#quem_somos {
  font-family: italic;
  font-weight: bold;
}
