/* CSS de responsividade das definições globais do projeto */

/* XS */
@media(min-width: 576px) {
	/* Redes Sociais */
	.redes-sociais {
		padding: 25px 0px;
	}

	.redes-sociais img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	/* Footer */
	footer {
		padding: 25px 0;
	}

	.footer-item {
		width: 100%;
		float: none;
		text-align: center !important;
		line-height: 30px;
	}
 
}

/* SM */
@media(min-width: 576px) and (max-width: 768px) {

}

/* MD */
@media(min-width: 768px) and (max-width: 992px) {
	
}

/* LG */
@media(min-width: 992px) and (max-width: 1200px) {

}

/* XL */
@media(min-width:1200px) {

}
